@import '~antd/dist/antd.css';

.App {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.App__main {
  display: flex;
  height: calc(100% - 50px);
}

.UserForm form {
  padding: 1rem 2rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  font-size: 0.875rem;
  margin-bottom: 2px;
}

.form-input {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}

.form-input-error {
  font-size: 0.75rem;
  color: red;
}